BR2_arm=y
BR2_KERNEL_HEADERS_5_4=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_CCACHE=y
BR2_TARGET_GENERIC_HOSTNAME="mangopi-r2"
BR2_TARGET_GENERIC_ISSUE="Welcome to Widora MangoPi R2"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_Allwinner_PATH)/board/allwinner/f1c200/overlay/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_Allwinner_PATH)/board/allwinner/f1c200/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_Allwinner_PATH)/board/allwinner/f1c200/linux.defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="suniv-f1c100s-tiny200"
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_Allwinner_PATH)/board/allwinner/f1c200/dts/linux/suniv-f1c100s-tiny200.dts"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG=y
BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_Allwinner_PATH)/board/allwinner/f1c200/uboot.defconfig"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"
BR2_TARGET_UBOOT_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_Allwinner_PATH)/board/allwinner/f1c200/dts/uboot/suniv-f1c100s-tiny200.dts"
BR2_PACKAGE_HOST_ENVIRONMENT_SETUP=y
